DJANGO_SECRET_KEY=dev-insecure-change-me
DJANGO_DEBUG=true

POSTGRES_DB=published
POSTGRES_USER=published
POSTGRES_PASSWORD=published

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
